<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  
  <appSettings>
    <add key="BaseUrl" value="https://api.tfl.gov.uk/" />
    <add key="appid" value="940338d7"/>
    <add key="appkey" value="b7f52b54675ed416f08b98a24dca9a24"/>
  </appSettings>
  
</configuration>